@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* //////////////////////// FONTS //////////////////////// */
body {
  font-family: "Spectral", sans-serif;
}

/* //////////////////////// GENERAL //////////////////////// */
.site-wrap {
  @apply max-w-screen-xl px-8 pt-32 mx-auto lg:px-0;
}

.section-1 {
  @apply mt-[80px];
}

.link-active {
  @apply underline;
}

/* //////////////////////// TITLES //////////////////////// */
.title-primary {
  @apply mb-16 text-5xl font-medium;
}

.title-secondary {
  @apply lg:text-[40px] font-medium leading-[50px] text-[26px] mb-4;
}

.subtitle-span {
  @apply text-[14px] lg:text-lg uppercase text-bsecondary;
}

/* //////////////////////// BUTTONS //////////////////////// */
.btn-primary {
  @apply px-4 py-2 font-bold text-white transition-all duration-300 border rounded bg-bprimary hover:bg-white hover:text-bprimary border-bprimary w-fit;
}

.btn-secondary {
  @apply px-4 py-2 font-bold transition-all duration-300 bg-white border rounded hover:bg-bprimary text-bprimary hover:text-white hover:border-white w-fit;
}

/* //////////////////////// CART //////////////////////// */

.cart-open {
  right: 0;
}

.cart-close {
  right: -100%;
}

.liked-products-open {
  right: 33.333333%;
}

.liked-products-close {
  right: -100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: #bf242e;
}
